.loginForm {
  display: flex;
  flex-direction: column;
  border: solid #3c8dad 2px;
  border-radius: 10px;
  color: #3c8dad;
  width: 40%;
  margin: auto;
  padding: 3% 0;
  margin-top: 50px;
  text-align: center;
  background: rgb(60, 141, 173);
  background: linear-gradient(
    90deg,
    rgba(60, 141, 173, 0.306) 0%,
    rgba(245, 169, 98, 0.5) 52%,
    rgba(60, 141, 173, 0.5) 100%
  );
  button {
    display: block;
    width: 30%;
    margin: auto;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-family: "koodak";
    background: rgb(60, 141, 173);
    background: linear-gradient(
      90deg,
      rgba(60, 141, 173, 1) 0%,
      rgba(245, 169, 98, 1) 52%,
      rgba(60, 141, 173, 1) 100%
    );
    border-radius: 10px;
   
    font-size: 20px;
  }
  input {
    direction: ltr;
    width: 60%;
    padding: 15px;
    border-radius: 10px;
    margin: 5px 0;
    border: none;
    background-color: rgb(255, 255, 255);
  }

  .iconHolder {
    position: relative;
  }

  .icons {
    font-size: 20px;
    color: gray;
    position: relative;
    bottom: 38px;
    left: 28%;
    cursor: pointer;
  }

  .spans {
    color: red;
    display: block;
    position: relative;
    bottom: 30px;
  }
}
