.loginBody{
  padding-top: 100px;
  background-image: url('../img/image-from-rawpixel-id-3904581-png.png');
  height: 75vh;
  background-size:60%;
  background-repeat: no-repeat;
  // background-position: 40%;
  background-position-x: 50%;
}

.loginForm {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #3c8dad;
  width: 30%;
 margin: auto;
  padding: 3% 0;
  text-align: center;
  button {
    display: block;
    width: 30%;
    margin: auto;
    border: none;
    padding: 5px;
    cursor: pointer;
    font-family: "koodak";
   
    border-radius: 10px;
   
    font-size: 20px;
    
  }
  input {
    border-bottom: solid black 2px !important;
    direction: ltr;
    width: 60%;
    padding: 15px;
    // border-radius: 10px;
    margin: 5px 0;
    border: none;
  }

  .iconHolder {
    position: relative;
  }

  .icons {
    font-size: 20px;
    // color: gray;
    position: relative;
    bottom: 38px;
    left: 30%;
    cursor: pointer;
  }

  .spans {
    color: red;
    display: block;
    position: relative;
    bottom: 30px;
  }
}
