.sidebar{
    // border: solid red;
    width: 20%;
    height: 100%;
    text-align: right;
    direction: rtl;
    padding-top: 50px;

}

.brandsPage{
    display: flex;
    flex-direction: row;
}

.singleBrands{
    width: 80%;
    position: relative;
}

