@font-face {
    font-family: Koodak;
    src: url('../font/KoodakBold.woff');
}

body{
    margin: 0;
    font-family: koodak;
    direction: rtl;
    // color: #415fe7;
}

.title{
    font-family: koodak;
    
}